.hero{

    height: 50vh;

    background-image: url("https://i.ibb.co/16ZyJbz/hero-blog.jpg");
    object-fit: cover;
    width: 100%;
}

.hero .tag{

  

    color: white;
    background-color: #F9B7A4;
    height: 100px;

    
    margin: 10px;
    margin-top: 30px;
    max-width: 400px

}

.hero .tag h2{

    text-align: center;


    width: auto;
    padding: 5px;
}

.hero .tag  h4{

    text-align: center;


   
    width: auto;
    padding: 5px;



}


.hero .tag2{

    position: relative;
    bottom: 300px;
    
    color: white;
    margin-left: 160px;

}

.hero .visual{

    position: relative;

    bottom: 40px;
}