.main{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;

}

.main .btn-group{
    width: auto;
    margin-top: 50px;
  
}

.main .posts {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .main .posts {
     -content: flex-start;
    }

    .main .btn-group{
      display: flex;
      flex-direction: column;
    }
  }
  
.main .active{

  background-color: black;
  color: white;
}

.main .active:hover{

  color: white !important;
}